* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fundraisers-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
}

.fundraisers {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fefefe;
    gap: .8rem;
    margin-top: 1rem;
}

.fundraisers > section {
    width: 90%;
    max-width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    z-index: 1;
}

.fundraiser-category {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    align-items: center;
    justify-items: center;
    gap: .5rem;
    text-align: center;
}

.donate-link {
    text-decoration: none;
    font-size: .92rem;
    color: #fefefe;
    background-color: rgb(26, 0, 171);
    width: 100%;
    height: 100%;
    padding: 0.8rem .5rem;
    border-radius: .5rem;
    transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.donate-link:hover, .donate-link:focus-visible {
    font-size: 1rem;
    font-weight: 700;
    transform: scale(1.02);
}

#star-of-david {
    position: absolute;
    width: 100%;
    /* top: calc((100vh - 85vw)/2); */
    top: 0;
    transform: translate(-50%, -20%);
    filter: opacity(0.25);
    z-index: 0;
}
.fundraisers .subtitle {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
}

.fundraisers > .title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 2.25rem;
    width: 60%;
    margin-bottom: 1rem;
}

.title > span {
    font-size: 2.25rem;
}

#house-icon {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    color: rgb(0, 0, 0);
}