html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

.title {
    text-align: center;
    font-size: 3em;
    color: black;
}

.subtitle {
    text-align: center;
    font-size: 2em;
}

.main-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.description {
    text-align: center;
    font-size: 1.5em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enough {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.hashtag {
    color: #C00000;
}

#blood-img {
    position: absolute;
    transform: rotate(352deg);
    top: 35rem;
    right: -30rem;
    z-index: 1;
}

.bullet-points li {
    position: relative;
    font-family: "Bahnschrift Condensed";
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem #ABABAB;
    color: black;
}

.enough p {
    font-family: "Bahnschrift Condensed";
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem #ABABAB;
    font-size: 3em;
}

.fundraisers{
    text-align: center;
}
.fundraisers > p {
    margin-block-end: 0.2em;
}

.fundraisers > .title {
    font-family: "Bahnschrift Condensed";
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem #ABABAB;
    font-size: 3em;
    color: blue;
}

.fundraisers > .subtitle {
    font-family: "Bahnschrift Condensed";
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem #ABABAB;
    font-size: 1.4em;
    color: black;
}

.donate-link {
    font-family: "Bahnschrift Condensed";
    text-align: center;
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem #ABABAB;
    font-size: 1.2em;
    color: black;
}

#star-of-david {
    bottom: 1rem;
    width: 5rem;
}

#house-icon {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: rgb(0, 0, 0);
}

.share-button {
    position: relative;
    left: 6.5rem;
    margin-right: 0.5rem;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .bullet-points {
        position: absolute;
        left: 20em;
    }

    html {
        font-size: 20px;
    }

    #blood-img {
        top: 35rem;
        right: -20rem;
    }
}