.title {
    text-align: center;
    font-size: 3em;
}

.subtitle {
    text-align: center;
    font-size: 2em;
}

.main-img {
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.description {
    text-align: center;
    font-size: 1.5em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enough {
    position: absolute;
}

.hashtag {
    color: #C00000
}

#blood-img {
    position: absolute;
    transform: rotate(352deg);
    top: 35rem;
    right: -30rem;
    z-index: -1;
}

.bullet-points li {
    position: relative;
    font-family: "Bahnschrift Condensed";
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem #ABABAB;
}

.enough p {
    font-family: "Bahnschrift Condensed";
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem #ABABAB;
    font-size: 3em;
}

#trueface {
    position: relative;
    top: 5rem;
    left: 1rem;
    color: black;
    font-family: "Impact";
    text-shadow: 0.05rem 0.05rem #ABABAB;
    font-size: 3em;
    text-decoration: none;
}